/*
    Solano Sayasetha
    styles.css
*/

@font-face {
    font-family: 'DAGGERSQUARE';
    src: url('../assets/DAGGERSQUARE.otf');
}

@font-face {
	font-family: 'Source Sans 3';
	src: url('../assets/SourceSans3-VariableFont_wght.ttf');
}

head, body, header, main, footer {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

body {
	font-family: 'Source Sans 3', sans-serif;
	font-size: 1.2em;
}

header {
	overflow: hidden;
}

header div {
	float: left;
	width: 100%;
	height: 5px;
	background-color: goldenrod;
}

h1 a, li a {
	text-decoration: none;
}

h1 {
	float: left;
	font-family: 'DAGGERSQUARE', sans-serif;
	padding: 0px 20px;
}

h1 a {
	color: black;
}

header ul {
	list-style-type: none;
	font-size: 1.2em;
}

nav li {
	float: left;
	padding: 10px;
}

nav a {
	padding: 15px 0px;
}

li a {
	color: black;
}

li div {
	width: 0%;
	margin-top: 5px;
	height: 7px;
	background-color: black;
}

a {
	transition: 0.3s;
}

a:hover:not(.active) {
	color: goldenrod;
}

#link1, #link2, #link3, #link4 {
	transition: 0.5s;
}

#nav1:hover+#link1, #nav2:hover+#link2, #nav3:hover+#link3, #nav4:hover+#link4 {
	width: 100%
}

.active {
	color: goldenrod;
}

#linkA {
	width: 100%;
	background-color: goldenrod;
}

main {
	padding-left: 20px;
	width: 75%;
	float: left;
}

.container {
	display: grid;
	grid-template-columns: 50% 50%;
	column-gap: 20px;
	padding: 10px;
}

.container section {
	background-color: #f1f1f1;
	border: solid black;
	padding: 10px 30px;
}

.container a {
	color: navy;
	text-decoration: none;
}

figure {
	padding: 5px;
	text-align: center;
}

aside {
	width: 20%;
	float: right;
}

article p {
	margin: 15px;
}

iframe {
	width: auto;
	height: auto;
}

footer {
	clear: both;
	text-align: center;
	padding-top: 40px;
}

/* Style Selectors for infoTable section in "about.html" */

.infoTable {
	float: right;
	width: 30%;
	max-width: 300px;
	margin: 0 10px;
}

.infoTable img {
	width: 100%;
}

.infoTable table {
	width: 100%;
}

.infoTable td {
	padding: 3px;
}

.infoTable tr:nth-child(even) {
	background-color: #fafad2;
}

/* Style Selectors for Gallery in "projects.html" */

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.galImg {
	position: relative;
	width: calc(25% - 20px);
	margin: 20px;
}

.galImg img {
	width: 100%;
	height: auto;
	transition: 0.3s;
}

.galImg img:hover {
	transform: scale(1.1);
}

.desc {
	width: 100%;
	text-align: center;
}

/* Style Selectors for "resume.html" */

.resume {
	margin: 5px 0;
	padding: 0 10px;
	border: solid goldenrod;
}

section div {
	padding-left: 10px;
	margin-bottom: 15px;
	border-left-style: solid;
}

.skillTable {
	width: 100%;
	max-width: 600px;
	margin: 0 10px;
}

.skillTable tr:nth-child(odd) {
	background-color: #fafad2;
}
